{% extends "master/header_adm.html" %}
{% block content %}
{% load static %}


<div id="page-wrapper">
  <div class="main-page">
    <div class="forms">

      <h3 class="title1">Edit EV Charging Station</h3>

      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <div class="alert alert-success"> {{message }}</div>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="form-grids row widget-shadow" data-example-id="basic-forms">
        <div class="form-title">
          <h4>Edit Electric Vehicle Charging Station :</h4>
        </div>

        <div class="form-body">
          <div class="col-sm-6" style="min-height:500px;">
            <form action="/update_station/{{data.station_id}}" method="post" id="myform" enctype="multipart/form-data">
              {% csrf_token %}


          

              <div class="form-group">
                <label>Place</label>
                <input class="form-control" type="text" value="{{data.place}}" name="place">
              </div>
              <div class="form-group">
                <label>Longitude</label>
                <input class="form-control" type="text" value="{{data.longitude}}" readonly id="longitude" name="longitude">
              </div>
              <div class="form-group">
                <label>Latitude</label>
                <input class="form-control" type="text"  value="{{data.latitude}}"  readonly id="latitude" name="latitude">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
          </div>
          <div class="col-sm-6" style="margin-top: 10px;">

            <div id="map"></div>

            <!-- 
The `defer` attribute causes the callback to execute after the full HTML
document has been parsed. For non-blocking uses, avoiding race conditions,
and consistent behavior across browsers, consider loading using Promises.
See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
for more information.
-->
            <script
              src="https://cdn.jsdelivr.net/gh/somanchiu/Keyless-Google-Maps-API@v6.5/mapsJavaScriptAPI.js"></script>
            <script>
              function initMap() {
                let latText = document.getElementById("latitude");
                let longText = document.getElementById("longitude");
                const myLatlng = { lat: 9.264758, lng: 76.787041 };
                const map = new google.maps.Map(document.getElementById("map"), {
                  zoom: 16,
                  center: myLatlng,
                });
                // Create the initial InfoWindow.
                // let infoWindow = new google.maps.InfoWindow({
                // content: "Click the map to get Lat/Lng!",
                // position: myLatlng,
                // });

                // infoWindow.open(map);
                // Configure the click listener.
                // map.addListener("click", (mapsMouseEvent) => {
                // // Close the current InfoWindow.
                // alert(mapsMouseEvent.latLng())
                // infoWindow.close();
                // // Create a new InfoWindow.
                // infoWindow = new google.maps.InfoWindow({
                // position: mapsMouseEvent.latLng,
                // });
                // infoWindow.setContent(
                // JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
                // );
                // infoWindow.open(map);

                // });
                google.maps.event.addListener(map, 'click', function (event) {
                  var lat = event.latLng.lat();
                  var lng = event.latLng.lng();
                  // alert("Lat=" + lat + "; Lng=" + lng);
                  latText.value = lat;
                  longText.value = lng;
                  // placeNewPostMarker(event.latLng);
                  // newpost.setContent('<a href="/posts/add?lat=' + lat + '&lng=' + lng + '">Add New</a>');
                  // newpost.open(map,newpostmarker);
                });
              }

              window.initMap = initMap;
            </script>
            <style>
              #map {
                height: 500px;
                width: 500px;
              }
            </style>
          </div>
          <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
          <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
          <script>
            (function ($, W, D) {
              var JQUERY4U = {};
              JQUERY4U.UTIL =
              {
                setupFormValidation: function () {
                  $.validator.addMethod(
                    "regex",
                    function (value, element, regexp) {
                      var check = false;
                      return this.optional(element) || regexp.test(value);
                    },
                    "Not a valid Input."
                  );

                  //form validation rules
                  $("#myform").validate({
                    rules: {
                      state: {
                        required: true,


                      },
                      place: {
                        required: true,
                        regex : /^[A-Za-z]+$/,
					              minlength: 3,

                      },
                      district: {
                        required: true,


                      },
                      longitude: {
                        required: true,


                      },
                      latitude: {
                        required: true,


                      },  
                      

                    },
                    messages: {



                    },
                    submitHandler: function (form) {
                      form.submit();
                    }
                  });
                }
              }
              //when the dom has loaded setup form validation rules
              $(D).ready(function ($) {
                JQUERY4U.UTIL.setupFormValidation();
              });
            })(jQuery, window, document);
          </script>
          <script>
            $("#state").change(function () {
              var state = $(this).val();

              $.ajax({

                url: '/display_district/',
                data: {
                  'state_id': state
                },
                dataType: 'json',
                success: function (data) {


                  let html_data = '<option value="">--Select--</option>';
                  data.forEach(function (data) {
                    html_data += `<option value="${data.district_id}">${data.district}</option>`
                  });
                  $("#district").html(html_data);



                }
              });

            });</script>
        </div>
      </div>
    </div>

    <div class="row">

    </div>
  </div>
</div>
<!--footer-->
{% endblock %}